* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --black: #111;
  --blue: #3f57ff;
  --red: #ff6c53;
  --white: #fff;
  --yellow: #fbc04a;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  background-image: radial-gradient(
    circle,
    #6095ff,
    #5187ff,
    #4578ff,
    #3f68ff,
    #3f57ff
  );
}
.wrapper {
  margin: 60px auto;
  width: 80%;
  height: 100vh;
}
/* ----- Header ----- */
header {
  display: flex;
  align-items: center;
}
header p {
  float: left;
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 3rem;
}
header .menu {
  width: 100%;
  height: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .menu .menu-item {
  padding-right: 40px;
  color: var(--white);
  font-size: 2rem;
  font-weight: 700;
  list-style-type: none;
}
.button {
  padding: 10px 20px;
  color: var(--white);
  font-size: 2rem;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  background: #6095ff;
}
/* ----- Fin Header ----- */

/* ----- Main ----- */
main .hero {
  margin: 40px 0;
  text-align: center;
}
main .hero h1 {
  margin-bottom: 20px;
  color: var(--white);
  font-weight: 700;
  font-size: 7rem;
}
main .hero p {
  margin-bottom: 60px;
  color: var(--white);
  font-weight: 700;
  font-size: 3rem;
}
.button-primary {
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  color: var(--black);
  font-weight: 700;
  font-size: 2rem;
  border: none;
  border-radius: 35px;
  background: #fff;
}
.container {
  margin: 0 auto;
  padding: 20px;
  width: 606px;
  height: 493px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  border-radius: 20px;
  background: #f5f4f3;
}
.item-1 {
  width: 150px;
  height: 219px;
  text-align: center;
  border-radius: 20px;
  background: var(--red);
}
.item-2 {
  width: 150px;
  height: 219px;
  text-align: center;
  border-radius: 20px;
  background: #bbf6fd;
}
.item-3 {
  width: 150px;
  height: 219px;
  text-align: center;
  border-radius: 20px;
  background: var(--yellow);
}
.item-4 {
  width: 150px;
  height: 219px;
  text-align: center;
  border-radius: 20px;
  background: var(--blue);
}
.item-5 {
  width: 150px;
  height: 219px;
  text-align: center;
  border-radius: 20px;
  background: #878a99;
}
.item-6 {
  width: 150px;
  height: 219px;
  text-align: center;
  border-radius: 20px;
  background: var(--black);
}
/* ----- Fin Main ----- */
