* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  height: 100vh;
}
.card {
  background: #ffdada;
  width: 300px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  /* direction: rtl; */
  /* writing-mode: vertical-rl; */
}

.card__header {
  background: #dbf6e9;
  padding: 20px;
}

.card__main {
  background: #9ddfd3;
  padding: 20px;
}
