@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  font-family: "Lato", sans-serif;
  width: 550px;
}

.container {
  background: turquoise;
  width: 180px;
  height: 180px;
  position: relative;
}

.element {
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
}

.element1 {
  @extend .element;
  background: papayawhip;
  position: absolute;
  // left: ;
  // top: ;
}

.element2 {
  @extend .element;
  background: papayawhip;
  position: absolute;
  // left: ;
  // top: ;
  // transform: ;
}

.element3 {
  @extend .element;
  background: papayawhip;
  position: absolute;
  // left: ;
  // top: ;
  // transform: ;
}

.element4 {
  @extend .element;
  background: pink;
  position: absolute;
  // left: ;
  // transform: ;
}

.element5 {
  @extend .element;
  background: pink;
  position: absolute;
  // left: ;
  // top: ;
  // transform: ;
}

.element6 {
  @extend .element;
  background: pink;
  position: absolute;
  // left: ;
  // top: ;
  // transform: ;
}

.element7 {
  @extend .element;
  background: lightcyan;
  position: absolute;
  // left: ;
  // transform: ;
}

.element8 {
  @extend .element;
  background: lightcyan;
  position: absolute;
  // left: ;
  // top: ;
  // transform: ;
}

.element9 {
  @extend .element;
  background: lightcyan;
  position: absolute;
  // left: ;
  // top: ;
  // transform: ;
}
